<header>
  <nav class="navbar navbar-expand-lg bg-light-subtle border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        ><img
          src="assets/img/logo.png"
          alt="Gym-Buddy logo"
          width="60"
          height="60"
      /></a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink=""
            routerLinkActive="active"
            aria-current="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/training-log"
            routerLinkActive="active"
            >Training Log</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
