<form (ngSubmit)="onSubmit()" #trainingForm="ngForm" class="p-3">
  <div class="mb-3">
    <label for="exerciseType" class="form-label">Type of Exercise</label>
    <input
      type="text"
      id="exerciseType"
      class="form-control"
      name="exerciseType"
      [(ngModel)]="exerciseType"
      required
    />
  </div>
  <div class="mb-3">
    <label for="weight" class="form-label">Weight (kg)</label>
    <input
      type="number"
      id="weight"
      class="form-control"
      name="weight"
      [(ngModel)]="weight"
      min="0"
      required
    />
  </div>
  <div class="mb-3">
    <label for="reps" class="form-label">Number of Reps</label>
    <input
      type="number"
      id="reps"
      class="form-control"
      name="reps"
      [(ngModel)]="reps"
      min="1"
      required
    />
  </div>
  <div class="mb-3">
    <label for="series" class="form-label">Number of Series</label>
    <input
      type="number"
      id="series"
      class="form-control"
      name="series"
      [(ngModel)]="series"
      min="1"
      required
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!trainingForm.form.valid"
  >
    Submit
  </button>
</form>
