<div>
  <div class="text-center my-5">
    <p class="lead">What would You like to train today?</p>
  </div>
  <div class="container d-flex justify-content-evenly flex-wrap">
    <button
      class="btn btn-outline-success"
      (click)="goToTraining('chest and biceps')"
    >
      Chest and biceps
    </button>
    <button class="btn btn-outline-success" (click)="goToTraining('back')">
      Back
    </button>
    <button class="btn btn-outline-success" (click)="goToTraining('legs')">
      Legs
    </button>
    <button
      class="btn btn-outline-success"
      (click)="goToTraining('shoulders and triceps')"
    >
      Soulders and triceps
    </button>
  </div>
</div>
